##########################
# Project Input and Output
##########################

# Raw data (do not commit)
_data/*
!_data/README.md
docs/_static/locales/
# Pipeline outputs
_output/

# Reports
/reports/*.pdf

# Environment secrets
.env*
!.env.example

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# LaTeX build files
*.aux
*.log
*.out
*.toc

# Raw archives
*.zip

# System files
.DS_Store
Thumbs.db

# doit
.doit*
.doit-db.sqlite